/* Global Styles */
body {
  font-family: 'Roboto', sans-serif; /* Using Google Font: Roboto */
  margin: 0;
  padding: 0;
  color: #b1b1b2;
  line-height: 1.6;
}

main .intro p {
  font-size: 18px;
  letter-spacing: .2px;
  line-height: 1.5;
  font-weight: 400;
}

main .intro h2 {
  font-size: 36px;
  font-weight: 700;
  color: #b1b1b2;
}


.container {
  background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; /* Full width for large screens */
  padding-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cta-button {
  padding: 15px 25px;
  background-color: #e74c3c; /* Red background */
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  font-size: 17px;
}

.cta-button {
  margin-top: 20px;
}

/* Main Content Styles */
main .intro {
  height: 70vh; /* Set height to 70% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.features ul {
  list-style: none;
  padding: 0;
}